@if (CategoryId + 1 == VisibleId || VisibleId == 0)
{
  <div class="post">
    <img
      src="@ImageUrl"
      alt="Img"
      class="post-image"
    />
    <div class="description">
      <div>
        <span class="small-tag bold">@Category</span>
        <h3 class="post-title">@Title</h3>
      </div>
      <a href="@Link" class="read-now">zum Artikel</a>
    </div>
  </div>
}


@code {
  [Parameter]
  public string Title { get; set; } = "";
  
  [Parameter]
  public string Category { get; set; } = "";
  
  [Parameter]
  public string Link { get; set; } = "";

  [Parameter]
  public string ImageUrl { get; set; } = "resources/images/not-found.jpg";
  
  [Parameter]
  public int CategoryId { get; set; } = 0;
  
  [Parameter]
  public int VisibleId { get; set; } = 0;
}