<HeadTitle>Not Found</HeadTitle>

<h2 style="font-size: 4rem">Error 404</h2>
<h4 role="alert" >Diese Seite wurde nicht gefunden</h4>
<p>Hier ein zufälliger Witz:</p>
<span>"@joke"</span>



@code {

    string joke = JokeGenerator.GetJoke();

}