@page "/New"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

@attribute [Authorize(Roles = "admin,teacher,student")]

<BlazoredTextEditor @ref="@_quillHtml" EditorCssStyle="min-height: 30vh;" Placeholder="Dein Artikel...">
    <ToolbarContent>
        <select class="ql-header">
            <option selected=""></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
        <span class="ql-formats">
            <button class="ql-bold ql-btn"></button>
            <button class="ql-italic ql-btn" ></button>
            <button class="ql-underline ql-btn"></button>
            <button class="ql-strike ql-btn"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color ql-btn"></select>
            <select class="ql-background ql-btn"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list ql-btn" value="ordered"></button>
            <button class="ql-list ql-btn" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link ql-btn"></button>
            <button class="ql-video ql-btn"></button>
            <button class="ql-image ql-btn"></button>
        </span>
    </ToolbarContent>
    <EditorContent>
        
    </EditorContent>
</BlazoredTextEditor>
<br />
<button class="btn btn-primary" @onclick="GetHtml">Get HTML</button>
<button class="btn btn-primary">Speichern</button>
        
<div>
    <br />
    @*ADRIAN: HTML sting werrt aso wido als html girendert*@
    @if (_quillHtmlContent != null)
    {
        @((MarkupString)_quillHtmlContent)
        /*ADRIAN: So werrt do pure string girendert (also die tags als text)*/
        @_quillHtmlContent
    }
 
</div>
<br />

@code {

    BlazoredTextEditor _quillHtml = new BlazoredTextEditor();
    string? _quillHtmlContent;

    private async void GetHtml()
    {
        _quillHtmlContent = await this._quillHtml.GetHTML();
        StateHasChanged();
    }
}