@page "/new"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

@attribute [Authorize(Roles = "admin,teacher,student")]

<BlazoredTextEditor @ref="@_quillHtml" EditorCssStyle="min-height: 30vh;" Placeholder="Dein Artikel...">
    <ToolbarContent>
        <select class="ql-header">
            <option selected=""></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
        <span class="ql-formats">
            <button class="ql-bold ql-btn"></button>
            <button class="ql-italic ql-btn" ></button>
            <button class="ql-underline ql-btn"></button>
            <button class="ql-strike ql-btn"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color ql-btn"></select>
            <select class="ql-background ql-btn"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list ql-btn" value="ordered"></button>
            <button class="ql-list ql-btn" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link ql-btn"></button>
            <button class="ql-video ql-btn"></button>
            <button class="ql-image ql-btn"></button>
        </span>
    </ToolbarContent>
    <EditorContent>
        
    </EditorContent>
</BlazoredTextEditor>
<br />
<button @onclick="GetHtml">Get HTML</button>

<div>
    <br />
    @*ADRIAN: HTML sting werrt aso wido als html girendert*@

    @((MarkupString)_html)
    @_html

 
</div>
<br />

@code {

    BlazoredTextEditor _quillHtml = null!;
    private string? _html = "";

    private async void GetHtml()
    {
        _html = await this._quillHtml.GetHTML();
        StateHasChanged();
        
    }
}