<div class="loader">
  <div class="loader-div">
          <span class="spinner"></span>
          <span>@(Joke)</span>
    </div>
</div> 

@code {
  [Parameter]
  public string Joke { get; set; } = "";
}