@media screen and (max-width: 720px) {

    nav.bottom-nav .content {
        position: relative;
    }
    
    nav.bottom-nav .content div.logo-div img.logo {
        width: 100%;
        max-width: 400px;
    }
}