<nav class="bottom-nav">
  <div class="content">
    <div class="logo-div">
      <span class="logo"></span>
      <h1>@Title</h1>
    </div>
    <div class="bottom-links">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Thing</a>
    </div>
    <div class="copyright">
      <a href="#">Impressum</a>
      <a href="#">Copyright</a>
    </div>
  </div>
  <footer>Copyright &copy; Moritz Deiaco • Adrian Messner</footer>
</nav>

@code {
  [Parameter]
  public string Title { get; set; } = "";
}