<nav class="bottom-nav">
  <div class="content">
    <div class="logo-div">
      <img class="logo" src="resources/images/logo.png"/>
      
    </div>
    <div class="bottom-links">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Thing</a>
    </div>
    <div class="copyright">
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutz</a>
    </div>
  </div>
  <footer>Copyright &copy; Moritz Deiaco • Adrian Messner</footer>
</nav>

