<span class="tag@(Active ? " active" : "")" @onclick="IncrementCount">@Name</span>

@code {
    [Parameter]
    public string Name { get; set; } = "";
    
    [Parameter]
    public bool Active { get; set; } = false;
    
    private void IncrementCount()
    {
        Active = !Active;
    }
}