@page "/new"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

@attribute [Authorize(Roles = "admin,teacher,student")]

<InputFile OnChange="@LoadFiles" accept=".png,.jpg,.jpeg,.gif,.svg"/>

<BlazoredTextEditor @ref="@_quillHtml" EditorCssStyle="min-height: 30vh;" Placeholder="Dein Artikel...">
    <ToolbarContent>
        <select class="ql-header">
            <option selected=""></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
        </select>
        <span class="ql-formats">
            <button class="ql-bold ql-btn"></button>
            <button class="ql-italic ql-btn" ></button>
            <button class="ql-underline ql-btn"></button>
            <button class="ql-strike ql-btn"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color ql-btn"></select>
            <select class="ql-background ql-btn"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list ql-btn" value="ordered"></button>
            <button class="ql-list ql-btn" value="bullet"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-link ql-btn"></button>
            <button class="ql-video ql-btn"></button>
            <button class="ql-image ql-btn"></button>
        </span>
    </ToolbarContent>
    <EditorContent>
        
    </EditorContent>
</BlazoredTextEditor>

<AuthorizeView>
    <Authorized>
        @{
            _creatorid = int.Parse(context.User.Identity!.AuthenticationType!);
        }
    </Authorized>
    
</AuthorizeView>

@code {

    string _posttitle = "";
    string _postdesc = "";
    int _creatorid;
    private string? _postcontent;
    
    
    BlazoredTextEditor _quillHtml = null!;
    

    private async void GetHtml()
    {
        _postcontent = await this._quillHtml.GetHTML();
        StateHasChanged();
        
    }

    private const long MaxFileSize = 1024 * 1024 * 10;
    private string _titleImageName = null!;

    private async Task LoadFiles (InputFileChangeEventArgs e)
    {
        var file = e.File;
        
        Console.WriteLine(file.Name);


        try
        {
            _titleImageName = Path.ChangeExtension(
                Path.GetRandomFileName(),
                Path.GetExtension(file.Name.ToLower())
                );

            string path = Path.Combine(Config.GetValue<string>("FileStorage")!, "images", _titleImageName);

            Directory.CreateDirectory(Path.Combine(Config.GetValue<string>("FileStorage")!, "images"));

            await using FileStream fs = new(path, FileMode.Create);

            await file.OpenReadStream(MaxFileSize).CopyToAsync(fs);
            
        }
        catch (Exception exception)
        {
            await Js.InvokeVoidAsync("alert", $"Ein unbekannter Fehler ist aufgetreten.");
            Console.WriteLine(exception);
            throw;
        }
        
        
    }

    // adrian in der function konnsche olls in di db speichon
    private void Submit()
    {
        // de variablen brauchsche (bitte nix ändon des missat aso gien)
        var imagepath = "bucket/images/" + _titleImageName; // des isch do Pfad zin bild und werrt noa aso in img tag inne gitun
        var posttitle = _posttitle; // do titl fan post
        var postdescription = _postdesc; // die beschreibung fan post
        var postcontent = _postcontent; // is html fan post
        var authorid = _creatorid;

        // to db
    }
    

}