.loader[b-fj180nzyxv] {
    display: flex;
    align-items: center;
}

.loader .bar[b-fj180nzyxv] {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgb(0,0,0);
    border-radius: 10px;
    animation: scale-up4-b-fj180nzyxv 1s linear infinite;
}

.loader .bar:nth-child(2)[b-fj180nzyxv] {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.loader .bar:nth-child(3)[b-fj180nzyxv] {
    animation-delay: .5s;
}

@keyframes scale-up4-b-fj180nzyxv {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}