@page "/login"
@using Schulmuseum.Authentication

@inject UserAccountService UserAccountService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager


<HeadTitle>Login</HeadTitle>

<AuthorizeView>
    <Authorized>
        @{
            NavManager.NavigateTo("/", true);
        }
    </Authorized>
</AuthorizeView>

<div class="login">
  <span class="text">Login</span>
  <input
    type="text"
    @bind="_model.UserName"
    name=""
    placeholder="Benutzername"
  />
  <input
    type="password"
    @bind="_model.Password"
    name=""
    placeholder="Passwort"
  />
  <button type="submit" @onclick="Authenticate">Login</button>
</div>

@code {
    private class Model
    {
        public string UserName { get; set; } = null!;
        public string Password { get; set; }= null!;
    }

    private Model _model = new Model();

    private async Task Authenticate()
    {
        if (UserAccountService.GotData())
        {
        var userAccount = UserAccountService.GetByUserName(_model.UserName);
        if (userAccount == null || userAccount.Password != _model.Password)
        {
            await Js.InvokeVoidAsync("alert", "Falsches Passwort oder Benutzername");
            return;
        }

        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new UserSession
        {
            UserName = userAccount.Username,
            Role = userAccount.Role,
            Id = userAccount.Id,
            FullName = userAccount.Fullname
        });
        NavManager.NavigateTo("/", true);
        }
        else
        {
            await Js.InvokeVoidAsync("alert", "Verbindung zum Server fehlgeschlagen.");
        }
    }
}