@page "/ShowData"

@using DatabaseLibrary
@using Schulmuseum.Models
@using Microsoft.Extensions.Configuration

@inject DataAccess Data
@inject IConfiguration Config



<h3>ShowData</h3>


@if (_users == null)
{
   <h3>Loading.....</h3>
}
else
{
   @foreach (var user in _users)
   {
      <p>
         @user.Username @user.Password
      </p>
   }
   
   <p>@_settingsDict["appname"]</p>
}

@code {
   List<UserModel>? _users;
   List<SettimgsModel>? _settings;
   readonly IDictionary<string, string?> _settingsDict = new Dictionary<string, string?>();
   
   protected override async Task OnInitializedAsync()
   {
      // Get all the users from the database
      const string sqlU = "select * from users";
      _users = await Data.LoadData<UserModel, dynamic>(sqlU, new { }, Config.GetConnectionString("main"));
      // Get all the settings form the database
      const string sqlS = "select * from settings";
      _settings = await Data.LoadData<SettimgsModel, dynamic>(sqlS, new { }, Config.GetConnectionString("main"));
      // Put all the settings in a Dictionary for convenience
      foreach (var setting in _settings)
      {
         if (setting.Name != null) _settingsDict.Add(setting.Name, setting.Value);
      }
   }
}