/* _content/Schulmuseum/Shared/Pages/Rechtskonformität/Copyright.razor.rz.scp.css */
p[b-lycv8z7lm6], h2[b-lycv8z7lm6] {
    padding-bottom: 1rem;
}

li[b-lycv8z7lm6] {
    margin-left: 1rem;
}
/* _content/Schulmuseum/Shared/Pages/Rechtskonformität/Datenschutz.razor.rz.scp.css */
li[b-6bqdc33sou] {
    margin-left: 1rem;
}
