@page "/copyright"

<HeadTitle>Copyright</HeadTitle>


<h2>Copyright &copy; @DateTime.Now.Year Moritz Deiaco, Adrian Messner. Alle Rechte vorbehalten.</h2>
<h3>Urheberrechtshinweis:</h3>
<p>Die Inhalte dieser Website, einschließlich Texte, Grafiken, Bilder und anderer Medien, sind urheberrechtlich geschützt und dürfen ohne ausdrückliche schriftliche Genehmigung von [Ihr Unternehmen oder Ihr Name] nicht vervielfältigt, veröffentlicht, verbreitet oder anderweitig genutzt werden. Das unbefugte Kopieren oder Verwenden von Inhalten dieser Website verstößt gegen geltendes Urheberrecht und kann rechtliche Konsequenzen nach sich ziehen.</p>

<h3>Marken und Logos:</h3>
<p>Alle Marken, Logos und Dienstleistungsmarken auf dieser Website sind Eigentum von Moritz Deiaco, Adrian Messner oder Dritten und dürfen ohne vorherige schriftliche Genehmigung nicht verwendet werden.</p>

<h3>Haftungsausschluss:</h3>
<p>Die Informationen auf dieser Website werden nach bestem Wissen und Gewissen bereitgestellt, jedoch übernehmen wir keine Gewähr für die Richtigkeit, Vollständigkeit oder Aktualität der Inhalte. Die Nutzung der auf dieser Website enthaltenen Informationen erfolgt auf eigenes Risiko. [Ihr Unternehmen oder Ihr Name] haftet nicht für direkte oder indirekte Schäden, die aus der Nutzung dieser Website oder der darin enthaltenen Informationen resultieren.</p>

<h3>Änderungen vorbehalten:</h3>
<p>Wir behalten uns das Recht vor, die Inhalte dieser Website jederzeit ohne vorherige Ankündigung zu ändern oder zu aktualisieren. Bitte besuchen Sie diese Seite regelmäßig, um sicherzustellen, dass Sie die neuesten Informationen erhalten.</p>

<h3>Kontakt:</h3>
<p>Für Anfragen bezüglich der Nutzung von Inhalten dieser Website oder für weitere Informationen kontaktieren Sie uns bitte unter [Ihre Kontaktinformationen].</p>