@page "/datenschutz"

<PageTitle>Datenschutz</PageTitle>

<h2>Datenschutzerklärung</h2>
    <br>
    <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten
        daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen
        Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung
        im Rahmen unserer Website.</p>
    <br>
    <hr>
    <br>
    <h3>Gespeicherte Daten</h3>
    <p>Ihre persönlichen Daten (Firmenname, Adresse, Ansprechperson, Emailadresse, Telefonnummer,
        Passwort, Webseite, Facebook Seite, etc.) werden auf unserem Server gespeichert.
        Für den Inhalt der Daten ist jeder Abonnent selbst verantwortlich.</p>
    <br>
    <hr>
    <br>
    <h3>Gespeicherte Bilder</h3>
    <p>Ihre Unternehmensbilder werden auf unserem Server gespeichert.
        Für den Inhalt der Bilder ist jeder Abonnent selbst verantwortlich und die Bilder werden regelmäßig
        auf folgende Kriterien überprüft und bei Nichteinhaltung von der Webseite entfernt:</p>
        <ul>
            <li>Keine Bilder auf denen Personen eindeutig erkennbar sind, außer es gibt eine
                unbefristete Einverständniserklärung der jeweiligen Personen
            </li>
            <li>Keine Bilder von unternehmensfremden Marken oder Produkten
            </li>
            <li>Keine Bilder mit Abbildungen von persönlichen Daten wie Namen, Adressen,
                Telefonnummern, Emailadressen, Webseiten, etc.
            </li>
        </ul>
    <p>Wir bitten ebenfalls um Meldung jedes nicht den Richtlinien entsprechenden Bildes.</p>
    <br>
    <hr>
    <br>
    <h3>Haftung für Inhalte</h3>
    <p>Alle Inhalte unseres Internetauftritts wurden mit größter Sorgfalt und nach bestem Gewissen erstellt. 
        Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. 
        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen 
        Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte 
        oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige 
        Tätigkeit hinweisen.</p>
    <p>Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntniserlangung einer konkreten Rechtsverletzung möglich. 
        Bei Bekanntwerden von den o.g. Rechtsverletzungen werden wir diese Inhalte unverzüglich entfernen.</p>
        <br>
    <hr>
    <br>
    <h3>Haftungsbeschränkung für externe Links</h3>
    <p>Unsere Webseite enthält Links auf externe Webseiten Dritter. Auf die Inhalte dieser direkt oder indirekt verlinkten Webseiten 
        haben wir keinen Einfluss. Daher können wir für die „externen Links“ auch keine Gewähr auf Richtigkeit der Inhalte übernehmen. 
        Für die Inhalte der externen Links sind die jeweilige Anbieter oder Betreiber (Urheber) der Seiten verantwortlich.</p>

@code {
    
}