@page "/impressum"

<HeadTitle>Impressum</HeadTitle>


<div class="impressum">
    <br>
    <h2>Impressum</h2>
    <br>
    <p>Unser Schülerblog ist Teil der Schulhomepage der TFO-Bruneck.</p>
    <p>Josef Ferrari Straße 22 / I-39031 Bruneck T +39 0474 555 602 / T +39 0474 555 604</p>
    <a href="mailto:os-tfo.bruneck@schule.suedtirol.it">os-tfo.bruneck@schule.suedtirol.it</a>
    <p></p>
    <br>
    <hr>
    <br>
    <h3>Ersteller:</h3>
    <br>
    <div class="text">
        <h3>Adrian Messner</h3>
        <p>Schüler, Programmierer und Administrator</p>
        <p>Josef Ferrari Straße 22 - TFO-Bruneck</p>
        <a href="mailto:kontaktschulerblog@gmail.com">kontaktschulerblog@gmail.com</a>
        <h4></h4>
    </div>
    <br>
    <div class="text">
        <h3>Moritz Deiaco</h3>
        <p>Schüler, Programmierer und Administrator</p>
        <p>Josef Ferrari Straße 22 - TFO-Bruneck</p>
        <a href="mailto:kontaktschulerblog@gmail.com">kontaktschulerblog@gmail.com</a>
        <h4></h4>
    </div>
    <br>
    <hr>
    <br>
    <h3>Inhalt</h3>
    <p>Der sachliche Inhalt dieser Webseite wurde von den Schülern und Schülerinnen der TFO-Bruneck im Laufe des Schuljahres 
        im Rahmen des Unterrichts erstellt. Die Inhalte sind vom theoretischen sowie vom praktischen Teil des Unterrichts entnommen
        und sollen einen Einblick in die Schule geben.</p>
    <br><br>
</div>

@code {
    
}