$main-width: 1000px;

$text: #000000;
$background: #ffffff;

$fast-transition: 200ms;
$medium-transition: 600ms;
$slow-transition: 1.2s;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@400;500&display=swap");

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darken($background, 40) $background;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $background;
}

*::-webkit-scrollbar-thumb {
  background-color: darken($background, 40);
  border-radius: 5px;
  border: 2px solid darken($background, 0);
}

:root {
  font-size: 18px;
}

* {
  font-family: "Roboto";
  color: $text;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &.small {
    font-size: 14px;
    color: lighten($text, 40);
  }
}

body {
  transition: background-color $medium-transition;
  &.scrolled {
    background-color: darken($background, 5);
  }
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}

.navbtn {
  display: none;
  & .navbtn-container {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & * {
      height: calc(1.5rem / 3 - 0.25rem);
      background-color: $text;
      transition: width $fast-transition;
    }
    & .bar1 {
      width: 75%;
      transition: transform $fast-transition, width $fast-transition;
    }
    & .bar1,
    & .bar2,
    & .bar3 {
      border-radius: calc((1.5rem / 3 - 0.25rem) / 2);
    }
    & .bar3 {
      width: 75%;
      margin-left: auto;
      transition: transform $fast-transition, width $fast-transition;
    }
    &:hover {
      cursor: pointer;
      & .bar1 {
        width: 100%;
      }
      & .bar3 {
        width: 100%;
      }
    }
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      .bar2 {
        display: none;
      }
      .bar1 {
        width: 100%;
        position: absolute;
        transform: rotate(-45deg);
      }
      .bar3 {
        width: 100%;
        position: absolute;
        transform: rotate(45deg);
      }
    }
  }
}

.inline-b {
  display: inline-block !important;
}

a {
  color: lighten($text, 40);
  text-decoration: none;
  transition: color $fast-transition;
  &:hover {
    color: lighten($text, 20);
  }
}

button {
  padding: 0.7rem 1rem;
  font-size: 0.8rem;
  background-color: darken($background, 100);
  color: lighten($text, 100) !important;
  border: none;
  border-radius: 0.4rem;
  transition: color $medium-transition, background-color $medium-transition ease;
  &.ql-btn {
    background-color: transparent !important;
  }
  &:hover {
    cursor: pointer;
    background-color: darken($background, 80);
  }
  &:active {
    background-color: darken($background, 60);
  }
}

input {
  font-family: "Roboto";
  background-color: transparent;
  border: 2px solid lighten($text, 50);
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all $medium-transition ease-in-out;
  &:focus {
    border: 2px solid lighten($text, 0);
  }
}

.navbar {
  height: 3.5rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;

  background-color: $background;
  transition: box-shadow $medium-transition;
  &.shadow {
    box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.2);
  }
  & .content {
    width: 100%;
    max-width: $main-width;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .bar {
      padding: 1rem;
      background-color: white;
      padding-right: 0;
    }

    & .logo {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      & span.logo {
        display: block;
        height: 1rem;
        width: 1rem;
        background-color: $text;
        border-radius: 0.5rem;
      }
    }
    & .contents {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
    & .contents .links {
      gap: 3.5rem;
      display: flex;
      align-items: center;
      & a > * {
        color: lighten($text, 40);
      }

      & span.dropdown {
        & a > i {
          transform: rotate(90deg);
          transition: transform $medium-transition;
        }
        & :hover > i {
          transform: rotate(0deg);
        }
        & div.nav-dropdown {
          position: absolute;
          opacity: 0;
          pointer-events: none;
          display: block;
          overflow: hidden;
          transition: opacity $medium-transition;
          background-color: $background;
          padding: 0.5rem 1rem;
          width: auto;
          min-width: 3rem;
          &.mobile {
            height: 0;
          }
          & a {
            display: block;
            margin-top: 0.2rem;
            &:first-child {
              margin-top: 0.2rem;
            }
          }

          &:hover {
            &.mobile {
              opacity: 0;
            }
            opacity: 1;
            pointer-events: all;
            overflow: auto;
          }
        }

        & :hover + div.nav-dropdown {
          &.mobile {
            opacity: 0;
          }
          opacity: 1;
          pointer-events: all;
          height: fit-content;
          overflow: auto;
        }
      }
    }
  }
}

.container {
  width: 100%;
  min-height: 50vh;
  max-width: $main-width;
  margin: 4.5rem auto;
  margin-bottom: 2rem;
  padding: 1rem 0;
  position: relative;
}

span.logo {
  display: block;
  height: 1rem;
  width: 1rem;
  background-color: $text;
  border-radius: 0.5rem;
}
.hero {
  & .featured {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 1rem 0;

    background-color: darken($background, 10);
    padding: 1rem;
    border-radius: 1.5rem;

    & .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      padding: 2rem 1.5rem 2rem 0.5rem;

      & .desc {
        font-size: 1rem;
        color: lighten($color: $text, $amount: 40);
      }
      & > * {
        width: fit-content;
      }

      & button {
        font-size: 1rem;
      }
    }

    & .image {
      width: 60%;
      height: 20rem;
      object-fit: cover;
      border-radius: 0.5rem;
      max-height: 20rem;
    }
  }
}

div.tags {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  display: flex;

  & .tag {
    height: 2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.2rem;

    background-color: darken($background, 10);
    border-radius: 1rem;

    transition: background-color $medium-transition, color $medium-transition;

    &:hover {
      background-color: darken($background, 25);
      cursor: pointer;
    }

    &.active {
      background-color: darken($background, 100);
      color: lighten($text, 100);
    }

    & .tag-circle {
      height: 1rem;
      width: 1rem;
      background-color: var(--circle-color);
      border-radius: 0.5rem;
    }

    & .name {
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}

.posts {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(calc($main-width / 4), 1fr));
}

.post {
  position: relative;

  & img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  & .description {
    position: relative;
    top: -1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    height: 9rem;

    background-color: darken($background, 10);

    border-radius: 1rem;
    & div .small-tag {
      background-color: darken($background, 20);
      padding: 0.5rem;
      font-size: 14px;
      border-radius: calc((1rem + 14px) / 2);
      text-transform: uppercase;
      width: fit-content;
    }
    & div .post-title {
      margin-top: 0.8rem;
    }
    & a {
      text-decoration: underline;
      text-transform: capitalize;
    }
  }
}

nav.bottom-nav {
  width: 100%;
  padding: 4rem;
  padding-bottom: 2rem;
  background-color: darken($background, 10);

  & .content {
    display: flex;
    justify-content: space-between;
    & div.logo-div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    & div {
      & * {
        display: block;
        font-size: 1.5rem;
      }
      & a {
        text-decoration: underline;
        text-transform: capitalize;
      }
      & h1 {
        font-size: 2.2rem;
      }
    }
  }
}

footer {
  color: lighten($text, 40);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.login {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: calc($main-width / 3);
  height: 33vh;
  background-color: darken($background, 5);
  border-radius: 1rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  & input {
    width: 100%;
  }
}

@media screen and (max-width: calc($main-width + 2rem)) {
  .container {
    padding: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .navbtn {
    display: block;
  }

  .hero .featured {
    display: block;
    & img.image {
      width: 100%;
      height: auto;
    }
    & .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem 0 1rem 0;
      & .desc {
        width: fit-content;
      }
    }
  }

  .navbar {
    & .content {
      display: block;

      & .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1040;
        & > *,
        & > * {
          z-index: 1041;
        }
      }

      & .contents {
        display: block;
        position: fixed;
        top: -25rem;
        left: 0;
        z-index: 10;
        padding: 1rem;
        width: 100%;
        background-color: white;

        transition: top $fast-transition;

        &.active {
          top: 3.5rem;
          background-color: white;
          border-bottom: 1px solid lighten($text, $amount: 20);
        }

        & .links {
          display: block;
          & a {
            display: block;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
          }
          & button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  nav.bottom-nav .content {
    display: block;
    & div {
      margin-top: 1rem;
    }
  }
  footer {
    display: block;
  }
  div.tags {
    display: block;
    & .tag {
      margin-bottom: 0.5rem;
    }
  }
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.components-reconnect-modal {
  z-index: 10000000000;
}
